/cv.html
/images
/latihan-react
/react_js
/tabel.html
/tugas1js.html
/tugas2js.html
/tugas3js.html
/tugas3_dheadwicaramoy_politekniknegerisriwijaya
/tugas3_dheadwicaramoy_politekniknegerisriwijaya.zip
/tugas4js.html
/tugas4js.js
/tugas4_dheadwicaramoy_politekniknegerisriwijaya
/tugas4_dheadwicaramoy_politekniknegerisriwijaya.zip
/tugas5js.html
/tugas5_dheadwicaramoy_politekniknegerisriwijaya
/tugas5_dheadwicaramoy_politekniknegerisriwijaya.zip
/tugas6js_dheadwicaramoy_polsri
/tugas6_dheadwicaramoy_politekniknegerisriwijaya
/tugas6_dheadwicaramoy_politekniknegerisriwijaya.zip
/tugas7js_dheadwicaramoy_polsri